<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>John Caputo</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            <p class="text">{{ site.description }}</p>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
         
         
             
         

          {% if site.twitter_username %}
          <li>
              <img src="images/glyphicons_social/png/glyphicons_social_31_twitter.png" height="15" width="15" >
            <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
              <span class="username">{{ site.twitter_username }}</span>
            </a>
          </li>
          {% endif %}
            
             <li>
                 <img src="images/glyphicons_social/png/glyphicons_social_02_google_plus.png" height="15" width="15"> <a href="http://google.com/+JohnCaputo215" target="_blank">johncaputo215</a>
            </li>
            
             <li>
           <img src="images/glyphicons_social/png/glyphicons_social_17_linked_in.png" height="15" width="15"> <a href="http://www.linkedin.com/in/johnjcaputo/" target="_blank">johnjcaputo</a>
            
          </li>
            
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p>Music, photography, and content copyright 2014 John Caputo.</p>
        <p>icons by <a href="http://www.glyphicons.com" target="_blank">glyphicons.com</a> are licensed under <a href="https://creativecommons.org/licenses/by/3.0/us/legalcode" target="_blank">CC BY 3.0</a> </p>
      </div>
    </div>

  </div>

</footer>
